<div>
  <div>
    <h1>
      Prospect #<%= @the_prospect.id %> details
    </h1>

    <div>
      <div>
        <a href="/prospects">
          Go back
        </a>
      </div>
    <% if @current_user == @the_prospect.user_id %>
      <div>
        <a href="/delete_prospect/<%= @the_prospect.id %>">
          Delete prospect
        </a>
      </div>
    </div>
    <% end %>

    <dl>
      <dt>
        Contact Point
      </dt>
      <dd>
        <%= @the_prospect.user.name %>
      </dd>

      <dt>
        Country
      </dt>
      <dd>
        <%= @the_prospect.country %>
      </dd>

      <dt>
        Round
      </dt>
      <dd>
        <%= @the_prospect.round %>
      </dd>

      <dt>
        Details
      </dt>
      <dd>
        <%= @the_prospect.details %>
      </dd>

      <dt>
        Contact
      </dt>
      <dd>
        <%= @the_prospect.contact %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_prospect.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_prospect.created_at) %> ago
      </dd>

      <% if @the_prospect.admit.id == nil %>
        <dt>
          Admitted?
        </dt>
        <dd>
          <form action="/insert_admit" method="post">
            <input type="hidden" value="<%= @the_prospect.id %>" name="query_prospect_id">
            <button>Yes</button>
          </form>
        </dd>
      <% else %>
        <dt>
          Admitted Student!
        </dt>
      <% end %>
    </dl>
  </div>
</div>

<hr>

<% if @current_user.id == @the_prospect.user_id %>
<div>
  <div>
    <h2>
      Edit prospect
    </h2>

    <form action="/modify_prospect/<%= @the_prospect.id %>"  method="post" >

      <div>
        <label for="country_box">
          Country
        </label>

        <input type="text" id="country_box" name="query_country" value="<%= @the_prospect.country %>">
      </div>

      <div>
        <label for="round_box">
          Round
        </label>

        <input type="text" id="round_box" name="query_round" value="<%= @the_prospect.round %>">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <input type="text" id="details_box" name="query_details" value="<%= @the_prospect.details %>">
      </div>

      <div>
        <label for="contact_box">
          Contact
        </label>

        <input type="text" id="contact_box" name="query_contact" value="<%= @the_prospect.contact %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_prospect.status %>">
      </div>

      <button>
        Update prospect
      </button>
    </form>
  </div>
</div>
<hr>
<% end %>

<h2>Comments</h2>
<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_prospect.comments.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.user.name %>
    </td>

    <td>
      <%= a_comment.body %>
    </td>

    <td>
      <%= a_comment.created_at %>
    </td>
  </tr>
 
  <% end %>
</table>

<h3>Add a new comment</h3>
<form action="/insert_comment" method="post">
      <div>
        <input value="<%= @the_prospect.id %>" type="hidden" id="prospect_id_box" name="query_prospect_id">
     
        <label for="body_box">
          Comment
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
  
