<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="name_box">Full Name</label>
        <input id="name_box" name="query_name" value="<%= @current_user.name %>">
      </div>
      <div>
        <label for="year_box">Class of</label>
        <input id="year_box" name="query_year" value="<%= @current_user.year %>">
      </div>
      <div>
        <label for="country_box">Country</label>
        <input id="country_box" name="query_country" value="<%= @current_user.country %>">
      </div>
      <div>
        <label for="ask_me_about_box">Ask me about</label>
        <textarea id="ask_me_about_box" name="query_ask_me_about" rows="3"><%= @current_user.ask_me_about %></textarea> 
      </div>
      <div>
        <input type="hidden" id="prospects_count_box" name="query_prospects_count" value="<%= @current_user.prospects_count %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
